#contact {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    padding: 4rem 1.7rem;
    background-color: #CBE5FA;
  }
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .color{
    color: white;
  }

@media (max-width: 768px) {
    .container1 {
        justify-content: center;
    }
}

  .contact{
    background-image: url('../../images/appointBg.png');
    background-repeat: no-repeat;
    z-index:1;
    position: relative;
}
.contact::after{
    position:absolute;
    content: "";;
    top:0;
    width:100%;
    height: 100%;
    background: rgb(12, 11, 27);
    opacity: .9;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    form{
        padding:2rem 5rem;
    }
  }